<%= form_for(@company_dimension) do |f| %>
  <% if @company_dimension.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_dimension.errors.count, "error") %> prohibited this company_dimension from being saved:</h2>

      <ul>
      <% @company_dimension.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :industry %><br />
    <%= f.text_field :industry %>
  </div>
  <div class="field">
    <%= f.label :segment %><br />
    <%= f.text_field :segment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
