<%= form_for(@target_fact) do |f| %>
  <% if @target_fact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@target_fact.errors.count, "error") %> prohibited this target_fact from being saved:</h2>

      <ul>
      <% @target_fact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_dimension %><br />
    <%= f.text_field :company_dimension %>
  </div>
  <div class="field">
    <%= f.label :date_dimenension %><br />
    <%= f.text_field :date_dimenension %>
  </div>
  <div class="field">
    <%= f.label :product_type %><br />
    <%= f.text_field :product_type %>
  </div>
  <div class="field">
    <%= f.label :target_amount %><br />
    <%= f.text_field :target_amount %>
  </div>
  <div class="field">
    <%= f.label :unit_of_measure %><br />
    <%= f.text_field :unit_of_measure %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
