<h1>Listing target_facts</h1>

<table>
  <tr>
    <th>Company dimension</th>
    <th>Date dimenension</th>
    <th>Product type</th>
    <th>Target amount</th>
    <th>Unit of measure</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @target_facts.each do |target_fact| %>
  <tr>
    <td><%= target_fact.company_dimension %></td>
    <td><%= target_fact.date_dimenension %></td>
    <td><%= target_fact.product_type %></td>
    <td><%= target_fact.target_amount %></td>
    <td><%= target_fact.unit_of_measure %></td>
    <td><%= link_to 'Show', target_fact %></td>
    <td><%= link_to 'Edit', edit_target_fact_path(target_fact) %></td>
    <td><%= link_to 'Destroy', target_fact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Target fact', new_target_fact_path %>
